#login{
    min-height: 100dvh;
    display: flex;
}

#login form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#login form * {
    overflow: hidden;
}
#login form div{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
    position: relative;
}
#login form input{
    width: 100%;
}

#login form button{
    width: 100%;
    height: 40px;
    background-color: var(--pink);
    color: var(--white);
}
#login article{
    width: 40%;
    background-image: linear-gradient(#00000061 , #00000047), url(../../assets/bugger.jpg);
    background-size: cover;
}

#login form img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#login form span{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--pink);
    justify-content: center;
}
#login form a{
    text-align: center;
    color: var(--pink);
}
#login form  p{
    height: 50px;
}
#login form #loader{
    position: absolute;
    z-index: -1;
    bottom: 0;
}

@media screen  and (max-width : 720px){

    #login form #loader > * {
    height: 50px;
    width: 50px;
}
    #login{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    #login article{
        display: none;
    }

    #login form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


#login form div{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}
}

/*Tablet*/
@media screen and (max-width : 1024px) and (min-width : 719px) {
    #login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    justify-content: center;
}
      #login form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
    #login form div{
        width:80%;
        gap: 30px;
        height: 100%;
    }

    #login article{
        display: none;
    }

}