
#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}

#main > article:first-of-type{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 40px;
    position: relative;
}

#main > article:first-of-type h1{
    font-size: 55pt;
    color: var(--white);
}

#main > article:first-of-type aside button{
    background-color: var(--pink);
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: var(--white);
    font-size: 13pt;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
#main > article:first-of-type > button{
    position: absolute;
    top: 40%;
    font-size: 30pt;
    color: var(--white);
    background-color: transparent;
    border: none;
}
#main > article:first-of-type > button:first-of-type{
    left: 20px;
}
#main > article:first-of-type > button:last-of-type{
    right: 20px;
}
#main > article:first-of-type span{
    font-size: 14pt;
    color: var(--pink);
}

#main > article:first-of-type aside:first-of-type{
    padding-top: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .5s linear;
    animation: apper 1s linear;
}
#main > article:first-of-type aside:last-of-type{
    width:39%;
}

#main > article:first-of-type img{
    width: 450px;
    margin-top: 50px;
    transition: all .5s linear;
}

#main > article:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding:0px 40px;
    overflow: hidden;
}

#main > article:nth-of-type(2)  aside{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    text-align: start;
    justify-content: space-between;
    overflow: hidden;
}

#main > article:nth-of-type(2)  aside > p{
    overflow: auto;
    height: auto;
    overflow: hidden;
    font-size: 13pt;
}
#main > article:nth-of-type(2)  img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

#main > article:nth-of-type(2)  h1{
    font-size: 25pt;
    color: var(--pink);
}

#main > article:nth-of-type(2)  button{
    background-color: var(--pink);
    width: 70%;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 11pt;
    transition: all .5s linear;

}

#main > article:nth-of-type(3) {
    display: flex;
    gap: 10px;
    transition: all .5s linear;
    padding-top: 50px;
    animation: inout 25s linear infinite;
    width: 100%;
    overflow: auto;
}

#main > article:nth-of-type(3)  div{
    display: flex;
}
#main > article:nth-of-type(3)  img{
    height: 90px;
    width: 70px;


}
#main > article:nth-of-type(3)  p{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
    color: var(--white);
    border-radius: 10px 0px 20px 0px;
}
@keyframes inout {
    from{
        transform: translateX(-10vw);
    }to{
        
        transform: translateX(100vw);
    }
}

/*
Telefone
*/
@media screen and (max-width : 1024px) {

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

#main > article:first-of-type{
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 0px 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#main > article:first-of-type h1{
    font-size: 30pt;
    color: var(--white);
}

#main > article:first-of-type aside button{
    background-color: var(--pink);
    width: 50%;
}
#main > article:first-of-type > button{
    top: 50%;
    font-size: 20pt;
}

#main > article:first-of-type span{
    font-size: 15pt;
    color: var(--pink);
}

#main > article:first-of-type aside:first-of-type{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#main > article:first-of-type aside:last-of-type{
    width:100%;
}

#main > article:first-of-type img{
    width: 250px;
    margin-top: 20px;
}

#main > article:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    padding:0px 40px;
    overflow: hidden;
}

#main > article:nth-of-type(2)  aside{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    text-align: start;
    align-items: center;
}
#main > article:nth-of-type(2)  img{
    width: 250px;
    height: 250px;
}

#main > article:nth-of-type(2)  h1{
    font-size: 25pt;
    color: var(--pink);
}

#main > article:nth-of-type(2)  button{
    background-color: var(--pink);
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: var(--white);
}
#main > article:nth-of-type(3) {
    display: flex;
    gap: 10px;
    transition: all .5s linear;
    padding-top: 50px;
    animation: inout 25s linear infinite;
    width: 100%;
    overflow: auto;
}

#main > article:nth-of-type(3)  img{
    display: none;
}
#main > article:nth-of-type(3)  p{
    height: 30px;
}
}


/*Tablet*/
@media screen and (max-width : 1024px) and (min-width : 719px) {
    #main > article:nth-of-type(2)  img ,
    #main > article:first-of-type img{
    width: 350px;
    height: 350px;
    margin-top: 40px;
}

#main > article:nth-of-type(3)  img{
    display: flex;
}
}