

#contact{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    padding-top: 80px;

}

#contact > article:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62pt;
    width: 100%;
    background-image: linear-gradient(#00000087 , #000000aa), url(../../assets/461684103_18018236708605621_8340506677745608830_n.jpg);
    color: var(--white);
    height: 400px;
    background-size: contain;
}

#contact > article:first-of-type h1{
    transition: all .5s linear;
    animation: apper2 1s linear;

}

#contact > article:last-of-type{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 80px;
}

#contact > article:last-of-type form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    transition: all .5s linear;
    animation: apper 1s linear;
}

#contact > article:last-of-type h1{
    color: var(--pink);
    font-size: 22pt;
    transition: all .5s linear;
    animation: apper2 1s linear;
}

#contact > article:last-of-type button{
    color: var(--white);
    font-size: 12pt;
    border: none;
    background-color: var(--pink);
    height: 40px;
    border-radius: 30px;
}




/*Telefone*/
@media screen and (max-width : 720px) {
#contact{
    gap: 10px;
    width: 100%;
    padding-top: 80px;

}

#contact > article:last-of-type h1{
    font-size: 22pt;
    text-align: center;
}

#contact > article:last-of-type{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding:10px 40px;
}
#contact > article:last-of-type form{
    width: 100%;
}


#contact > article:first-of-type{
    height: 200px;
    font-size: 30pt;
}

#contact{
    padding-top: 60px;
}
}


/*Tablet*/
@media screen and (max-width : 1024px) and (min-width : 719px) {
    #contact > article:last-of-type form{
        width: 100%;
    }
}