

#acount{
    width: 100%;
    min-height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-direction: column;
}
#acount button{
    width: 200px;
    height: 40px;
    background-color: var(--pink);
    color: var(--white);
    border: none;
    border-radius: 4px;
}
#acount img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#acount > aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

#acount > form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    place-items: center;
    gap: 40px;
}

#acount form button{
    width: 100%;
}

#acount > form div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


#acount > h1{
    color: var(--pink);
}
/*Telefone*/
@media screen and (max-width : 720px) {
#acount > form{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
}

#acount{
    width: 100%;
    padding-top: 100px;
    min-height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}
}